.resultContainer {
    width: 100vw;
    max-width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(148, 230, 196);
    border-radius: 12px;
    overflow: hidden;
    animation: slideDown 0.5s linear; 
}

.modelScoreContainer {
    animation: slideDown 0.5s linear;
}

.modelScoreContainer p {
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0.2rem;
}

.actionContainer {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

.actionContainer p {
    margin: 1rem 0 0.5rem 0;
    font-weight: 600;
}

.downloadBtn {
    width: 400px;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
    background: rgb(218, 120, 10);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

.downloadBtn:hover {
    background: rgb(185, 102, 6);
}

.errorMsg {
    color: red;
    background-color: rgba(255, 0, 0, 0.25);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0.5rem;
    margin: 0.3rem 0;
    border-radius: 12px;
}

.successMessage {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(3, 153, 3);
}

.operationFailed {
    color: rgb(196, 17, 17);
    text-align: center;
    font-size: 1.3rem;
    margin: 0.5rem 1rem;
}

.operationFailed p {
    font-size: 1rem;
    color: black;
    font-weight: 600;
}

.errorMsg p {
    margin: 0.2rem;
}


@keyframes slideDown {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}