@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
